
.hidden {
    display: none;
}

body {
  font-family: 'sanchez';
}

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor: pointer;
    transition: all .5s ease;
    margin-bottom: 20px;
  }
 
  #main-nav input, #burger-con {
    display: none;
  }
 
  
 
  #main-nav input:checked ~ #burger-con {
    display: block;
  }
 
  #main-nav input:checked ~ label img {
    transform: rotate(90deg);
  }
 
  #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
  }
 
  #main-nav ul li {
    border-bottom: 1px solid #efefef;
  }
 
  #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
  }
 
  #main-nav ul li:last-child {
    margin-bottom: 40px;
  }

  #massage-hero-con {
  background: url(../images/massage.png) no-repeat;
  height: 320px;
  background-position: 25% 120% ;
  background-size: cover;
  }

  #massage-title {
    font-size: 22px;
  margin-left: 30px;
  margin-top: 19px;
  font-size: 22px;
  }

  #massage-title-box {
    background-color: white;
  height: 50px;
  margin-top: 270px;
  grid-column-end: 6;
  }

  #massage-title-box p {
    margin-left: 30px;
  }

.readmore1 details{
    padding: 10px;
  }

 .readmore1 summary {
    background-color: #e8e8e8;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #a01a1a;
  }

 .readmore1 p {
    padding-top: 15px;
  }

  #readmore1 {
    margin-top: 80px;
  }

  .readmore1 {
    grid-column-end: 6;
  }

  #hotstones-hero-con {
    background: url(../images/hotstones.png) no-repeat;
    height: 320px;
    background-position: 25% 120% ;
    background-size: cover;
    margin-top: 20px;
    }
  
    #hotstones-title {
      font-size: 22px;
    margin-left: 30px;
    margin-top: 19px;
    font-size: 22px;
    }
  
    #hotstones-title-box {
      background-color: white;
    height: 50px;
    margin-top: 270px;
    grid-column-end: 6;
    }
  
    #hotstones-title-box p {
      margin-left: 30px;
    }

    .readmore2 details{
      padding: 10px;
    }
  
   .readmore2 summary {
      background-color: #e8e8e8;
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
      color: #a01a1a;
    }
  
   .readmore2 p {
      padding-top: 15px;
    }
  
    #readmore2 {
      margin-top: 260px;
    }
  
    .readmore2 {
      grid-column-end: 6;
      
    }

    #foot-hero-con {
      background: url(../images/foot.png) no-repeat;
      height: 320px;
      background-position: 25% 120% ;
      background-size: cover;
      margin-top: 20px;
      }
    
      #foot-title {
        font-size: 22px;
      margin-left: 30px;
      margin-top: 19px;
      font-size: 22px;
      }
    
      #foot-title-box {
        background-color: white;
      height: 50px;
      margin-top: 270px;
      grid-column-end: 6;
      }
    
      #foot-title-box p {
        margin-left: 30px;
      }

      .readmore3 details{
        padding: 10px;
      }
    
     .readmore3 summary {
        background-color: #e8e8e8;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #a01a1a;
      }
    
     .readmore3 p {
        padding-top: 15px;
      }
    
      #readmore3 {
        margin-top: 147px;
      }
    
      .readmore3 {
        grid-column-end: 6;
        margin-top: 110px;
      }

      #facial-hero-con {
      background: url(../images/facial.png) no-repeat;
      height: 320px;
      background-position: 25% 30% ;
      background-size: cover;
      margin-top: 20px;
      }
    
      #facial-title {
        font-size: 22px;
      margin-left: 30px;
      margin-top: 19px;
      font-size: 22px;
      }
    
      #facial-title-box {
        background-color: white;
      height: 50px;
      margin-top: 270px;
      grid-column-end: 6;
      }
    
      #facial-title-box p {
        margin-left: 30px;
      }

      .readmore4 details{
        padding: 10px;
      }
    
     .readmore4 summary {
        background-color: #e8e8e8;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #a01a1a;
      }
    
     .readmore4 p {
        padding-top: 15px;
      }
    
      #readmore4 {
        margin-top: 197px;
      }
    
      .readmore4 {
        grid-column-end: 6;
        margin-top: 30px;
      }


        #wax-hero-con {
        background: url(../images/wax.png) no-repeat;
        height: 320px;
        background-position: 25% 30% ;
        background-size: cover;
        margin-top: 20px;
        }
      
        #wax-title {
          font-size: 22px;
        margin-left: 30px;
        margin-top: 19px;
        font-size: 22px;
        }
      
        #wax-title-box {
          background-color: white;
        height: 50px;
        margin-top: 270px;
        grid-column-end: 6;
        }
      
        #wax-title-box p {
          margin-left: 30px;
        }

#spa-hero-con {
  background: url(../images/spa.png) no-repeat;
  height: 320px;
  background-position: 25% 30% ;
  background-size: cover;
  margin-top: 230px;
}

#spa-title {
  font-size: 22px;
  margin-left: 30px;
        margin-top: 19px;
        font-size: 22px;
}

#spa-title-box {
  background-color: white;
        height: 50px;
        margin-top: 270px;
        grid-column-end: 6;
}

#spa-title-box p {
  margin-left: 30px;
}

#spainfo-hero-con {
  background: url(../images/spainfo.png) no-repeat;
        height: 320px;
        background-position: 25% 30% ;
        background-size: cover;
        margin-top: 617px;
}

#spainfo-title {
  font-size: 22px;
  margin-left: 30px;
        margin-top: 19px;
        font-size: 22px;
}

#spainfo-title-box {
  background-color: white;
        height: 50px;
        margin-top: 270px;
        grid-column-end: 6;
}

#spainfo-title-box p {
  margin-left: 30px;
}

.red-line {
  background-color: #9B2019;
  height: 3px;
  width: 412px;
  margin-Top: 568px;
  grid-column-end: 6;
}

#unforeseen-title {
  font-size: 22px;
  margin-left: 79px;
        margin-top: 19px;
        font-size: 22px;
}

.red-line2 {
  background-color: #9B2019;
  height: 3px;
  width: 412px;
  margin-Top: -20px;
  grid-column-end: 6;
}

#spa-products-title {
  font-size: 22px;
  margin-left: 143px;
  margin-top: 3px;
}

#renowned-title {
  font-size: 17px;
  margin-top: 20px;
  
}

#award-image img {
  height: 240px;
  margin-left: 109px;
}

#red-line3 {
  background-color: #9B2019;
  height: 3px;
  width: 382px;
  grid-column-end: 6;
  margin-top: 14px;
}

#quality-title {
  margin-left: 148px;
  font-size: 22px;
}

#qa-image {
  height: 250px;
  margin-left: 50px;
  margin-top: -13px;
}

#qa-text {
  margin-top: 80px;
}

#footer-hero {
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
  }

  #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
  }

  #footer-privacy .line-separator {
    margin-top: 0px;
  }

 

  #footer-contact-info h3 {
    font-size: 23px;
  }

  #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 11px;
  }
